
#1 {font-family;
}

p {
    font-size: 45px;
}

#11 {
    font-family: serif;
}

h1 {
    font-family:monospace;
    text-align: center; font-size: 300px;
}

h2 {
    font-family: arial;
    font-size: 10px; text-align: center;
    font-weight: 100;
   
}
